:root {
  --primary-font: 'Roboto', sans-serif;
  --font-weight: 400;
  --letter-spacing: 0.02em;
  --primary-color: #434455;
}

.link,
.list {
  list-style: none;
  text-decoration: none;
}

/*======= body ======*/
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
}

/*====== logo =======*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  justify-content: flex-start;
}

.logo-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.menu-contact:hover,
.menu-contact:focus {
  color: #404bbf;
}

.addres {
  font-style: normal;
}

/*=========== buttons ======*/
/*button {
  font-family: inherit;
}*/
.btn:hover,
.btn:focus {
  background: #404bbf;
  color: white;
}

.btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  display: inline-block;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background: #404bbf;
  color: white;
}

.btn-portfolio {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

/*=====/buttons====*/

/*======header-nav====*/

.menu-item {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  color: #2e2f42;
}

.menu-contact,
.addres {
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-color);
}

/*====== section 1====*/
.section-one {
  background-color: #2e2f42;
}

.title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: var(--letter-spacing);

  color: #ffffff;
}

/*====== section 2 ======*/
.title-three {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
  color: #2e2f42;
}

.text {
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-color);
}

/*===== section 3 =====*/
.title-two {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  color: #2e2f42;
  display: flex;
  text-align: center;
}

/*====== section 4 =====*/

.section-four {
  background-color: #f4f4fd;
}

.section-four-list {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.logo-link-two {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  color: #f4f4fd;
}
.section {
padding-left: 156px;
padding-right: 156px;
padding-bottom: 120px
}
.container {


margin: 0;
padding: 0;

}

.box-header {
  display: flex;
padding-left: 156px;
padding-right: 156px;
 padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.nav-item {
  display: flex;

  padding: 0;
  margin: 0;
  margin-left: 76px;
  margin-right: 332px;
 
}
.nav-item .item:not(:last-child) {
  margin-right: 40px;
}
  .menu-contacts .contacts:first-child {
  margin-right: 40px;
  }
  
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
/*===удалить в индекс тоже клас.img-list {
display: flex;
}*/
.list-img {
display: flex;
}